:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
  }
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.page-header{
    height: 70px;
    z-index: 2;
}
.logo-container{
    height: max-content;
}
.logo-container img{
    height: 65px;
    width: 150px;;
}

.button-container button{
    height: 45px;
    width: 45px;
    border-width: 1px;
    border-color: #80d9ed;
}

.navbar{
    --bs-navbar-padding-y: 0;
}
.dashboard-header{
    position: absolute;
    left: 0;
    top: -40px;
}







.divtable .tr {
  overflow: hidden;
  clear: both;
  border-bottom: 1px solid #ccc;
}

.divtable .th,
.divtable .td {
  padding: 5px 10px;
  float: left;
}

.divtable .th { font-weight: bold; }

.created-date { width: 40%; }

.lastname { width: 30%; }

.username { width: 30%; }



@media (max-width: 767px) {

.accordion-xs .headings { display: none; }

.accordion-xs .tr { border-bottom-color: #fff; }

.accordion-xs .th,
 .accordion-xs .td {
  float: none;
  width: auto;
  padding: 0;
}

.accordion-xs .accordion-xs-toggle {
  
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.accordion-xs .accordion-xs-toggle:hover


.accordion-xs-collapse .inner { padding: 10px; }

/* .accordion-xs-collapse .td:before { font-weight: bold; } */


.accordion-xs .td.created-date span:before { content: ' Created date: '; }

.accordion-xs-collapse .lastname:before { content: 'Last Name: '; }

.accordion-xs-collapse .username:before { content: 'Username: '; }

.accordion-xs .accordion-xs-toggle:after {
  position: relative;
  top: 1px;
  display: inline-block;
  
}
}












.footer-bg{
  background-color: #f9f9f9;
}
.footer{
  padding-right: 30px;
  height: 50px;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #f9f9f9;
}
.footer a{
  text-decoration: none;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #353636;
}
.vertical-line{
  content: " ";
  height: 16px;
  border: 1px solid #353636;
}

@media only screen and (min-width:768px){
    .button-container button.logout-button{
        width: max-content;
        padding-left: 2px;
        padding-right: 3px !important;
    }
    .button-container button.add-button{
        width: max-content;
        padding-left: 2px;
        padding-right: 3px !important;
    }
    .main-content {
    margin-top: 100px !important;
}
}


